<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Automation Framework With Java">
    <test verbose="2" preserve-order="true"
          name="/Users/amitkumarjha/Desktop/WebAutomation/WebAutomationWithSelenium">
        <classes>
            <class name="testcases.LaunchOrangeTest"/>
        </classes>
    </test>
</suite>